.todo-title {
    text-align: center;
    margin-bottom: 35px;
}

header,
.todo-footer {
    margin-bottom: 25px;
}

.todo-footer {
    height: 25px;
    padding-left: 22px;
}

.delete-task {
    visibility: hidden;
    float: right;
    color: #777;
}

.delete-task:hover {
    color: #000;
}

span.glyphicon-remove-sign {
    font-size: 1.5em;
}

.complete-marker {
    padding-left: 31px;
    margin-bottom: 5px;
}

#delete-all {
    float: right;
}

.task-text {
    font-size: 1.2em;
}

#todos-left {
    font-style: italic;
    color: #777;
}