.todo-title {
    text-align: center;
    margin-bottom: 35px;
}

header,
.todo-footer {
    margin-bottom: 25px;
}

.todo-footer {
    height: 25px;
    padding-left: 22px;
}

.delete-task,
#delete-all
{
    float: right;
}

.delete-task {
    visibility: hidden;
    color: #999;
}

.delete-task:hover {
    color: #000;
}

span.glyphicon-remove-sign {
    font-size: 1.5em;
}

.complete-marker {
    padding-left: 19px;
    margin-bottom: 5px;
}

.complete-marker,
.todo-footer,
.todo-content {
    display: none;
}


.task-text {
    font-size: 1.2em;
}

#todos-left {
    font-style: italic;
    color: #777;
}